@import url('https://fonts.googleapis.com/css2?family=Lato&family=Yellowtail&display=swap');


/* colour palette + fonts */
:root {

    --header-text: 'Yellowtail', serif;
    --content-text: 'Lato', sans-serif;

    --main-colour: #FDEEDC;
    --sec-colour: #FFD8A9;
    --third-colour: #F1A661;
    --fourth-colour: #E38B29;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    font-family: var(--header-text);
    font-size: 3rem;
    font-weight: 600;
    padding-top: 0.5rem;
    color: var(--fourth-colour);
    text-align: center;
    text-shadow: 3px 3px 3px var(--third-colour);
}

h2 {
    font-family: var(--content-text);
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 0.75rem;
    padding-top: .75rem;
}

.flex {
    background-color: var(--main-colour);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

#content-container {
    background-color: var(--fourth-colour);
    opacity: 0.9;
    width: 95%;
    margin: auto;
    padding: 1rem;
    color: var(--sec-colour);
    border-radius: 1.5rem;
}

/* category buttons */
.category-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 75px;
    padding: 5px;
}

.question-count {
    font-family: var(--content-text);
    font-size: 25px;
    font-weight: bold;
}

.score-count {
    font-family: var(--content-text);
    font-size: 25px;
    font-weight: bold;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* stays in place */
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
}

a {
    text-decoration: none;
    text-align: center;
}

/* modal content */
.modal-content {
    background-color: var(--fourth-colour);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    border: 1px solid #888;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.modal h2 {
    margin: 0;
}

.modal p {
    font-size: 14px;
    opacity: 0.7;
    font-family: var(--content-text);
}

/* buttons */
#counters {
    display: flex;
    justify-content: space-between;
}

.next-btn {
    background-color: black;
    color: white;
}

.close-modal {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 15px;
    border: 2px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: var(--content-text);
    font-size: 15px;
    font-weight: bold;
    padding: 8px 42px;
    text-decoration: none;
    margin-top: 15px;
}

.flexBtn {
    margin: 0 5px;
    text-align: center;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 15px;
    border: 2px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: var(--content-text);
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    line-height: 45px;
}

.flexBtn:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}

.close-modal:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}

.flexAnsBtn {
    margin: 5px 20px;
    text-align: center;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 15px;
    border: 2px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: var(--content-text);
    font-size: 15px;
    font-weight: bold;
    padding: 8px 42px;
    text-decoration: none;
}

.checkAnsBtn {
    margin: 5px 20px;
    text-align: center;
    box-shadow: inset 0px 1px 3px 0px #145e54;
    background: linear-gradient(to bottom, #01130e 5%, #011414 100%);
    background-color: #031d16;
    border-radius: 15px;
    border: 2px solid #073a2a;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: var(--content-text);
    font-size: 15px;
    font-weight: bold;
    padding: 8px 42px;
    text-decoration: none;
}

.htpBtn {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 15px;
    border: 2px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: var(--content-text);
    font-size: 15px;
    font-weight: bold;
    padding: 8px 42px;
    text-decoration: none;
}

.htpBtn:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}

.htpBtn:active {
    position: relative;
    top: 1px;
}

.centerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ans-btns {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

/* dynamic classes */
.hide {
    display: none;
}

.right-ans {
    border: green 0.5rem solid;
}

.wrong-ans {
    border: red 0.5rem solid;
}

.right {
    background-color: green;
}

.wrong {
    background-color: red;
}

/* media queries */
/* small devices */
@media only screen and (min-width: 600px) {
    .flexBtn {
        padding: 5px 42px;
    }

    .htpBtn {
        padding: 12px 72px;
    }
}

/* medium devices */
@media only screen and (min-width: 768px) {
    .flexBtn {
        padding: 5px 60px;
    }
}

/* large devices */
@media only screen and (min-width: 992px) {
    .flexBtn {
        padding: 5px 88px;
    }
}